/* Font imported from Google Font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Poppins:wght@200;300;400;500;600&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* sheared styles - Starts */
* {
  font-family: 'Work Sans', sans-serif;
  text-decoration: none;
  border: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

:root {
  --black-text-color: #0B0223;
  --linear-color: #FF42a5;
  --primary-text-color: #534C64;
  --white-text-color: #FFFFFF;
  --menu-color: #3C354F;
}

html {
  overflow-x: hidden;
}

.btn-primary {
  background-color: var(--linear-color);
  padding: 20px 44px;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 600;
}

.img-clip {
  background-image: linear-gradient(to bottom, #F948B2, #8758F1);
  color: transparent;
  -webkit-background-clip: text;
}

/* sheared style ends */

.navbar-container {
  max-width: 1440px;
  min-height: 50px;
  display: flex;
  align-items: center;
  margin: 0 6rem;
  /* border: 3px solid red; */
}

.logo-container {
  width: 50%;
  display: flex;
  align-items: center;
  cursor: pointer;
  /* border: 3px solid green; */
}

.logo-container img {
  width: 50px;
  margin-right: 15px;
  object-fit: cover;
}

.logo-container h1 {
  font-weight: 700;
  font-size: 2.2rem;
  color: var(--black-text-color);
}

.g-style {
  color: var(--linear-color);
  font-weight: 700;
  font-size: 2.2rem;
}

.nav-menu-container {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: flex-end;
}

.nav-menu-container a {
  color: var(--menu-color);
  font-weight: 500;
  font-size: 1.25rem;
  text-align: center;
}

.follow-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0px 17px;
  background-color: rgba(11, 2, 35, 0.10);
  border-radius: 8px;
}

.follow-btn p {
  color: var(--menu-color);
  font-weight: 500;
  font-size: 1.25rem;
  text-align: center;
}

/* Navbar section ends here */

/* Hero Section style starts here */
.hero-container{
  min-height: 200px;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
}
.hero-info-container{
  width: 50%;
  text-align: left;
}
.hero-title{
  color: var(--black-text-color);
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 20px;
}
.goat{
  font-size: 5rem;
  font-weight: 800;
  margin: 0;
}
.hero-info-container > p {
  color: var(--primary-text-color);
  font-size: 1.25rem;
  font-weight: 500;
}
.btn-secondary{
  background-color: #4EC5F7;
  padding: 20px 44px;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 600;
}
.images-container{
  width: 50%;
}

/* hero section style ends here */

/* Game section style starts here */
.gamer-container{
  /* max-width: 1440px; */
  min-width: 200px;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.img-container{
  width: 50%;
}
.img-container img {
  width: 100%;
  display: block;
  margin: 0 auto;
  height: 100%;
}
.gamer-info{
  width: 50%;
  text-align: right;
}
.gamer-info-title{
  font-size: 3rem;
  font-weight: 700;
}
.gamer-info-description, .buttom-section{
  color: var(--primary-text-color);
  font-size: 1.25rem;
  font-weight: 400;
}

/* Game section style ends here */

/* Funny Games Stylesheet starts here */

.funny-games{
  max-width: 1440px;
  min-height: 200px;
  margin: 0 auto;
  padding-left: 10%;
  padding-right: 10%;
}
.funny-games-title{
  display: block;
  text-align: center;
  padding-bottom: 20px;
}
.funny-games-title h2{
  font-size: 3rem;
  font-weight: 700;
  color: var(--black-text-color);
}
.funny-games-title p{
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--primary-text-color);
}
.funny-games-img-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.single-image{
  padding: 7%;
  position: relative;
}
.single-image img{
  display: block;
  margin: 0 auto;
  width: 100%;
}
.single-image :hover::after{
  background-image: url('/assets/images/Group14.png') center no-repeat;
  /* background-color: red; */
  position: relative;
  width: 100%;
}

.single-image p{
  color: var(--primary-text-color);
  font-size: 1.25rem;
  font-weight: 500;
}

/* Funny Games Stylesheet ends here */

/* Play insatly stylesheet starts here */
.game-info-1{
  max-width: 1440px;
  min-height: 200px;
  margin: 0 auto;
  padding-left: 5%;
  padding-bottom: 5%;
  padding-top: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.play-instantly-image-container{
  width: 50%;
  position: relative;
}
.play-instantly-image-container img{
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: block;
}
.small-img-1{
  position: absolute;
  bottom: -15%;
  left: -10%;
}
.small-img-1 img{
  width: 70%;
  height: 70%;
}

/* Play insatly stylesheet ends here */

/* Play Games online stylesheet starts here */
.game-info-2{
  max-width: 1440px;
  min-height: 200px;
  margin: 0 auto;
  padding-left: 5%;
  padding-bottom: 5%;
  padding-top: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.online-games-image-container{
  width: 50%;
  position: relative;
  /* border: 3px solid red; */
}
.online-games-image-container img{
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: block;
}
.small-img-2{
  position: absolute;
  bottom: -15%;
  right: -10%;
}
.small-img-2 img{
  width: 70%;
  height: 70%;
}
.online-games-info{
  width: 50%;
  padding: 7%;
}
.online-games-title h2{
  font-size: 2.8rem;
  font-weight: 700;
  color: var(--black-text-color);
}
.online-games-title p {
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--primary-text-color);
}

/* Play Games online stylesheet ends here */

/* Career section stylesheet starts here */
.career-container {
  min-height: 50px;
  margin: 0 auto;
  padding: 10%;
  background-color: var(--linear-color);
  display: flex;
  align-items: center;
  padding: 20px;
}

.career-title {
  width: 50%;
  padding: 30px;
}

.career-title h1 {
  color: var(--white-text-color);
  font-size: 3rem;
  font-weight: 700;
}

.career-title p {
  color: var(--white-text-color);
  font-weight: 400;
  font-size: 1.25rem;
}

.career-table {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.table2>p {
  text-align: right;
}

.img-container {
  width: 50%;
}

.img-container img {
  object-fit: cover;
  width: 100%;
}

button {
  border-radius: 48px;
  background-color: #FFF;
  padding: 20px 40px;
  margin-top: 20px;
  border-radius: 20px;
  cursor: pointer;
}

button > a{
  color: var(--linear-color);
  font-weight: 600;
  font-size: 1.25rem;
  text-transform: uppercase;
}

/* Careers Section stylesheet ends */

/* Type of Games realated style sheet stats here*/
.type-of-games {
  max-width: 1440px;
  min-height: 50px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 2rem 3.2rem;
  /* border: 3px solid red; */
}

.games {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-evenly;
}

.games:hover {
  border: 2px solid var(--linear-color);
  border-radius: 40px;
}

.games img {
  height: 60px;
  width: 60px;
  object-fit: cover;
}

.games p {
  color: var(--black-text-color);
  font-size: 1.25rem;
  font-weight: 600;
  padding-left: 15px;
}

/* Type of Games realated style sheet ends here */


/* Footer section starts here */
.footer-container {
  /* max-width: 1440px; */
  min-height: 300px;
  display: block;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #0B0223;
  margin: 0 auto;
}

.footer-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-top: 120px;
}

.footer-logo-container h1 {
  color: white;
  font-weight: 700;
  font-size: 2.2rem;
}

.footer-logo-container img {
  width: 50px;
  margin-right: 15px;
  object-fit: cover;
}

.footer-link a,
.footer-icon i {
  color: white;
  /* border: 3px solid red; */
  padding-left: 50px;
}

.footer-link {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  margin: 20px auto;
}

.footer-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px auto;
}

.fa-brands {
  font-size: 40px;
}

.copyright {
  color: rgba(255, 255, 255, 0.60);
  font-weight: 500;
  padding-bottom: 130px;
}